@charset "UTF-8";

// 単位変換関数

@function vw($px) {
    @return calc($px * 100vw / 390); // 390pxはカンプの幅を記述
}

@function vwPC($px) {
    @return calc($px * 100vw / 1400); // 1536pxはカンプの幅を記述
}

@function px2Rem($px) {
    @return calc($px / 16) * 1rem;
}

@function min($values...) {
    @return unquote('min(#{$values})');
}

@function max($values...) {
    @return unquote('max(#{$values})');
}

@function mvw($px) {
    $value1: calc($px * 100vw / 1200);
    $value2: px2Rem($px);

    @if $px >=0 {
        @return min($value1, $value2);
    }

    @else {
        @return max($value1, $value2);
    }
}

// メディアクエリ
$breakpoints: (
    "md": "screen and (min-width: 768px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// レイアウト
/* ページ全体のスタイル ----------*/
body {
    font-family: "Noto Sans JP",
        sans-serif;
    line-height: 1.75;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品 ----------*/
.section-title {
    text-align: center;

    &__head {
        display: block;
        font-family: "Montserrat",
            sans-serif;
        font-size: vw(16
        );
    font-weight: 600;
    color: #168352;
}

&__heading {
    display: block;
    font-size: vw(20);
    font-weight: 700;
    line-height: 1.25;
}
}

/* ヘッダー ----------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: vw(63);
    background-color: #fff;
    z-index: 100;
    @include mq{
        height: mvw(114);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 vw(16);
        @include mq{
            padding: 0 mvw(32);
        }
    }

    &__logo {
    }

    &__logo-image {
        width: vw(197);
    }

    &__button {
    }

    &__button-image {
        width: vw(24);
        @include mq{
            display: none;
        }
    }

    &__menu {
        position: fixed;
        top: vw(63);
        width: vw(358);
        margin: 0 auto;
        background-color: #168352;
        border-radius: vw(24);
        visibility: hidden;
        @include mq{
            position: static;
            background-color: #fff;
            border-radius: 0;
            visibility: visible;
        }
    }

    &__menu-list {
        text-align: center;
    }

    &__menu-list-item {
        font-size: vw(18);
        @include mq{
            font-size: mvw(16);
            color: #000;
        }

        &:first-child{
            @include mq{
                display: none;
            }
        }
    }
}

/* カバー ----------*/
.cover {
    margin-top: vw(63);
    padding-bottom: vw(48);

    &__container {
        margin: 0 vw(16);
    }

    &__wrapper {
        margin-top: vw(72);
        margin-bottom: vw(26);
    }

    &__catch {
        margin-bottom: vw(15);
        font-size: vw(28);
        font-weight: 700;
    }

    &__text {
        font-size: vw(15);
        line-break: anywhere;
    }

    &__image {
        width: 100%;
    }
}


/* 会社概要 ----------*/
.about-us {

    &__container {
        margin-top: vw(22);
        padding: vw(32) vw(16);
        background-image: url("/assets/image/top/about/about_us.jpg");
        background-size: cover;
    }

    &__wrapper {
        padding: vw(15) vw(24) vw(18);
        color: #111;
        background-color: #fff;
        border-radius: vw(32);
        opacity: .8;
    }

    &__inner-top {
        margin-bottom: vw(7);
        font-size: vw(18);
        font-weight: 700;

        &--br {
            display: inline-block;
        }
    }

    &__inner-text {
        font-size: vw(15);
        letter-spacing: .006em;
    }
}


/* 特徴 ----------*/
.features {
    padding-top: vw(47);
    padding-bottom: vw(36);
    background-color: #f3f9f6;

    &__container {
        margin-top: vw(22);
    }

    &__unit {
        margin: 0 auto vw(19);
        width: vw(358);
        background-color: #fff;
        border-radius: vw(24);
    }

    &__image {
        width: 100%;
    }

    &__text {
        padding: vw(12) vw(16) vw(14);
        font-size: vw(18);
        font-weight: 700;
        color: #111;
    }
}


/* 製品・サービス紹介 ----------*/
.products-service {
    padding-top: vw(49);
    padding-bottom: vw(35);

    &__container {
        margin: vw(22) auto;
        width: vw(358);
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: vw(20);
    }

    &__list-item {
        display: flex;
        align-items: center;
        column-gap: vw(17);
        padding: vw(20) vw(24);
        background-color: #168352;
        border-radius: vw(24);
    }

    &__image {
        width: vw(141);

        &--03 {
            width: vw(132);
        }

        &--04 {
            width: vw(102);
        }

        &--05 {
            width: vw(121);
        }
    }

    &__text {
        font-size: vw(18);
        font-weight: 700;
        color: #fff;

        &--br {
            display: inline-block;
        }
    }
}


/* 事例紹介 ----------*/
.case {
    padding-top: vw(46);
    padding-bottom: vw(22);
    background-color: #f3f9f6;

    &__container {
        margin: vw(22) auto 0;
        width: vw(358);
    }

    &__unit {
        margin-bottom: vw(27);

        &:nth-child(2) {
            margin-bottom: vw(24);
        }
    }

    &__image {
        width: 100%;
    }

    &__text {
        margin-top: vw(8);
        margin-left: vw(2);
        font-size: vw(18);
        font-weight: 700;
        color: #09947b;
    }
}


/* お知らせ ----------*/
.news {
    padding-top: vw(48);
    padding-bottom: vw(62);

    &__container {
        margin: vw(22) auto 0;
        width: vw(358);
    }

    &__list {}

    &__list-item {
        border-top: #ddd solid vw(1);
        padding-bottom: vw(10);

        &:first-child {
            padding-bottom: vw(9);

            &__list-category {
                padding-bottom: vw(2);
            }
        }

        &:nth-child(5) {
            padding-bottom: vw(9);
        }


        &:last-child {
            padding-bottom: vw(11);
            border-bottom: #ddd solid vw(1);
        }
    }

    &__list-head {
        display: flex;
        column-gap: vw(17);
        padding-top: vw(14);
    }

    &__list-date {
        font-size: vw(15);
        color: #222;
    }

    &__list-category {
        margin-top: vw(2);
        padding-top: vw(3);
        padding-bottom: vw(2);
        width: vw(134);
        text-align: center;
        font-size: vw(13);
        color: #fff;
        background-color: #473221;
        border-radius: vw(4);
    }

    &__list-text {
        margin: vw(9) vw(1) 0;
        font-size: vw(15);
        font-weight: 700;
        color: #09947b;

        &--space{
            content: "";
            margin-left: vw(5);
        }
    }

    &__button {
        margin: vw(24) auto 0;
        padding-top: vw(17);
        padding-bottom: vw(17);
        width: vw(300);
        text-align: center;
        font-size: vw(18);
        font-weight: 700;
        color: #fff;
        background-color: #09947b;
        border-radius: vw(33);
        box-shadow: 0 vw(5) 0 0 #066655;

        &:hover {
            transform: translateY(vw(3));
            box-shadow: 0 vw(2) 0 0 #066655;
        }
    }
}


/* フッター ----------*/
.footer {
    padding-top: vw(22);
    padding-bottom: vw(23);
    background-color: #168352;

    &__container {
        margin: 0 auto;
        width: vw(230);
    }

    &__menu {}

    &__menu-list {
        display: flex;
        justify-content: center;
        column-gap: vw(6);
        font-size: vw(13);
        color: #fff;
    }

    &__menu-bar {
        content: "";
        margin-top: vw(11);
        margin-left: vw(2);
        width: vw(20);
        height: vw(1);
        transform: rotate(90deg);
        background-color: #fff;
    }
}