@charset "UTF-8";

/* ページ全体のスタイル ----------*/
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品 ----------*/
.section-title {
    text-align: center;
}

.section-title__head {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 4.1025641026vw;
    font-weight: 600;
    color: #168352;
}

@media screen and (min-width: 768px) {
    .section-title__head {
        font-size: min(1.6666666667vw, 1.25rem);
    }
}

.section-title__heading {
    display: block;
    font-size: 5.1282051282vw;
    font-weight: 700;
    line-height: 1.25;
}

@media screen and (min-width: 768px) {
    .section-title__heading {
        margin-top: min(0.3333333333vw, 0.25rem);
        margin-left: min(0.1666666667vw, 0.125rem);
        font-size: min(2.3333333333vw, 1.75rem);
    }
}

/* ヘッダー ----------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 16.1538461538vw;
    background-color: #fff;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    .header {
        height: min(9.5vw, 7.125rem);
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.1025641026vw 2.0512820513vw;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .header__container {
        margin: 0 auto;
        padding: 0;
        width: min(97.5vw, 73.125rem);
    }
}

@media screen and (min-width: 768px) {
    .header__logo {
        margin-left: min(0.1666666667vw, 0.125rem);
    }
}

.header__logo-image {
    width: 50.5128205128vw;
    vertical-align: baseline;
}

@media screen and (min-width: 768px) {
    .header__logo-image {
        width: min(21.8333333333vw, 16.375rem);
    }
}

@media screen and (min-width: 768px) {
    .header__button {
        display: none;
    }
}

.header__button-image {
    width: 6.1538461538vw;
}

.header__menu {
    position: fixed;
    top: 16.1538461538vw;
    left: 4.1025641026vw;
    right: 4.1025641026vw;
    background-color: #168352;
    border-radius: 6.1538461538vw;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media screen and (min-width: 768px) {
    .header__menu {
        position: static;
        margin: 0;
        width: unset;
        background-color: #fff;
        border-radius: 0;
        visibility: visible;
        opacity: 1;
    }
}

.header__menu-active {
    visibility: visible;
    opacity: 1;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 6.4102564103vw;
    margin-top: 8.2051282051vw;
    margin-bottom: 8.4615384615vw;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__menu-list {
        flex-direction: row;
        -moz-column-gap: min(3.25vw, 2.4375rem);
        column-gap: min(3.25vw, 2.4375rem);
        row-gap: 0;
        margin: 0;
    }
}

.header__menu-list-item {
    font-size: 4.6153846154vw;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .header__menu-list-item {
        font-size: min(1.3333333333vw, 1rem);
    }
}

.header__menu-list-item:first-child {
    margin-right: 1.0256410256vw;
}

@media screen and (min-width: 768px) {
    .header__menu-list-item:first-child {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__menu-list-item--black {
        color: #000;
    }
}

@media screen and (min-width: 768px) {
    .header__menu-list-item--current {
        color: #168352;
    }
}

/* カバー ----------*/
.cover {
    margin-top: 16.1538461538vw;
    padding-bottom: 12.3076923077vw;
}

@media screen and (min-width: 768px) {
    .cover {
        margin-top: min(9.5vw, 7.125rem);
        padding-bottom: min(4.5833333333vw, 3.4375rem);
    }
}

.cover__container {
    margin: 0 4.1025641026vw;
}

@media screen and (min-width: 768px) {
    .cover__container {
        margin: 0 auto;
        padding-top: min(3.1666666667vw, 2.375rem);
        width: min(97.25vw, 72.9375rem);
    }
}

.cover__wrapper {
    margin-top: 18.4615384615vw;
    margin-bottom: 6.6666666667vw;
}

@media screen and (min-width: 768px) {
    .cover__wrapper {
        display: flex;
        -moz-column-gap: min(11vw, 8.25rem);
        column-gap: min(11vw, 8.25rem);
        margin: 0 min(2.6666666667vw, 2rem) min(4.75vw, 3.5625rem);
    }
}

.cover__catch {
    margin-bottom: 3.8461538462vw;
    font-size: 7.1794871795vw;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .cover__catch {
        margin-bottom: 0;
        font-size: min(3.3333333333vw, 2.5rem);
        white-space: nowrap;
    }
}

.cover__text {
    font-size: 3.8461538462vw;
    line-break: anywhere;
}

@media screen and (min-width: 768px) {
    .cover__text {
        margin-top: min(0.8333333333vw, 0.625rem);
        font-size: min(1.25vw, 0.9375rem);
    }
}

.cover__image {
    width: 100%;
}

/* 会社概要 ----------*/
@media screen and (min-width: 768px) {
    .about-us {
        padding-bottom: min(3.1666666667vw, 2.375rem);
    }
}

.about-us__container {
    margin-top: 5.641025641vw;
    padding: 8.2051282051vw 4.1025641026vw;
    background-image: url("/assets/image/top/about/about_us.jpg");
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .about-us__container {
        display: flex;
        -moz-column-gap: min(12.5vw, 9.375rem);
        column-gap: min(12.5vw, 9.375rem);
        margin: min(2.3333333333vw, 1.75rem) auto;
        padding: 0;
        width: min(80.6666666667vw, 60.5rem);
        background-image: none;
    }
}

.about-us__wrapper {
    padding: 3.8461538462vw 6.1538461538vw 4.6153846154vw;
    color: #111;
    background-color: #fff;
    border-radius: 8.2051282051vw;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .about-us__wrapper {
        margin-top: min(8.5vw, 6.375rem);
        padding: 0;
        opacity: 1;
    }
}

.about-us__inner-top {
    margin-bottom: 1.7948717949vw;
    font-size: 4.6153846154vw;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .about-us__inner-top {
        font-size: min(1.6666666667vw, 1.25rem);
    }
}

.about-us__inner-top--br {
    display: inline-block;
}

.about-us__inner-top--br:first-child {
    display: inline;
}

@media screen and (min-width: 768px) {
    .about-us__inner-top--br:first-child {
        display: inline-block;
    }
}

.about-us__inner-text {
    font-size: 3.8461538462vw;
    letter-spacing: 0.006em;
}

@media screen and (min-width: 768px) {
    .about-us__inner-text {
        font-size: min(1.25vw, 0.9375rem);
    }
}

.about-us__image {
    display: none;
}

@media screen and (min-width: 768px) {
    .about-us__image {
        display: block;
        margin-right: min(1.1666666667vw, 0.875rem);
        width: min(32.5vw, 24.375rem);
    }
}

/* 特徴 ----------*/
.features {
    padding-top: 12.0512820513vw;
    padding-bottom: 9.2307692308vw;
    background-color: #f3f9f6;
}

@media screen and (min-width: 768px) {
    .features {
        padding-top: min(4.4166666667vw, 3.3125rem);
        padding-bottom: min(5.3333333333vw, 4rem);
    }
}

.features__container {
    margin-top: 5.641025641vw;
}

@media screen and (min-width: 768px) {
    .features__container {
        display: flex;
        -moz-column-gap: min(2.5vw, 1.875rem);
        column-gap: min(2.5vw, 1.875rem);
        margin: min(2.4166666667vw, 1.8125rem) auto 0;
        width: min(97.25vw, 72.9375rem);
    }
}

.features__unit {
    margin: 0 auto 4.8717948718vw;
    width: 91.7948717949vw;
    background-color: #fff;
    border-radius: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .features__unit {
        margin-bottom: 0;
        border-radius: min(2vw, 1.5rem);
    }
}

.features__image {
    width: 100%;
}

.features__text {
    padding: 3.0769230769vw 4.1025641026vw 3.5897435897vw;
    font-size: 4.6153846154vw;
    font-weight: 700;
    color: #111;
}

@media screen and (min-width: 768px) {
    .features__text {
        padding: min(1vw, 0.75rem) min(1.6666666667vw, 1.25rem) min(1.1666666667vw, 0.875rem);
        font-size: min(1.5833333333vw, 1.1875rem);
    }
}

/* 製品・サービス紹介 ----------*/
.service {
    padding-top: 12.5641025641vw;
    padding-bottom: 8.9743589744vw;
}

@media screen and (min-width: 768px) {
    .service {
        padding-top: min(4.8333333333vw, 3.625rem);
        padding-bottom: min(5.3333333333vw, 4rem);
    }
}

.service__container {
    margin: 5.641025641vw auto;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .service__container {
        margin: min(2.5vw, 1.875rem) auto 0;
        width: min(91.6666666667vw, 68.75rem);
    }
}

.service__list {
    display: flex;
    flex-direction: column;
    row-gap: 5.1282051282vw;
}

@media screen and (min-width: 768px) {
    .service__list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: min(3.3333333333vw, 2.5rem);
        justify-content: space-between;
    }
}

.service__list-item {
    background-color: #168352;
    border-radius: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .service__list-item {
        width: calc((100% - min(4.1666666667vw, 3.125rem)) / 2);
        height: min(15vw, 11.25rem);
        border-radius: min(2vw, 1.5rem);
    }
}

@media screen and (min-width: 768px) {
    .service__list-item--small {
        width: calc((100% - min(8.3333333333vw, 6.25rem)) / 3);
        height: min(12.5vw, 9.375rem);
    }
}

.service__link {
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .service__link:hover {
        color: #168352;
        background-color: #dffaec;
        border-radius: min(2vw, 1.5rem);
    }
}

.service__link-container {
    display: flex;
    align-items: center;
    -moz-column-gap: 4.358974359vw;
    column-gap: 4.358974359vw;
    padding: 5.1282051282vw 6.1538461538vw;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .service__link-container {
        -moz-column-gap: min(2.5vw, 1.875rem);
        column-gap: min(2.5vw, 1.875rem);
        padding: min(2.0833333333vw, 1.5625rem) min(2.5vw, 1.875rem);
    }
}

@media screen and (min-width: 768px) {
    .service__link-container--small {
        -moz-column-gap: min(1.5833333333vw, 1.1875rem);
        column-gap: min(1.5833333333vw, 1.1875rem);
        padding: min(1.6666666667vw, 1.25rem) min(2vw, 1.5rem);
    }
}

.service__image {
    width: 36.1538461538vw;
}

@media screen and (min-width: 768px) {
    .service__image {
        width: min(13.3333333333vw, 10rem);
    }
}

.service__image--03 {
    width: 33.8461538462vw;
}

@media screen and (min-width: 768px) {
    .service__image--03 {
        width: min(16.6666666667vw, 12.5rem);
    }
}

.service__image--04 {
    width: 26.1538461538vw;
}

@media screen and (min-width: 768px) {
    .service__image--04 {
        width: min(13.1666666667vw, 9.875rem);
    }
}

.service__image--05 {
    width: 31.0256410256vw;
}

@media screen and (min-width: 768px) {
    .service__image--05 {
        width: min(15.5vw, 11.625rem);
    }
}

.service__text {
    font-size: 4.6153846154vw;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .service__text {
        font-size: min(2vw, 1.5rem);
    }
}

.service__text--br {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .service__text--small {
        font-size: min(1.6666666667vw, 1.25rem);
    }
}

/* 事例紹介 ----------*/
.case {
    padding-top: 11.7948717949vw;
    padding-bottom: 5.641025641vw;
    background-color: #f3f9f6;
}

@media screen and (min-width: 768px) {
    .case {
        padding-top: min(4.5833333333vw, 3.4375rem);
        padding-bottom: min(4.9166666667vw, 3.6875rem);
    }
}

.case__container {
    display: flex;
    flex-direction: column;
    margin: 5.641025641vw auto 0;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .case__container {
        flex-direction: row;
        justify-content: space-between;
        margin: min(2.5vw, 1.875rem) auto 0;
        width: min(97.25vw, 72.9375rem);
    }
}

.case__unit {
    margin-bottom: 6.9230769231vw;
}

@media screen and (min-width: 768px) {
    .case__unit {
        margin-bottom: 0;
        width: calc((100% - min(5vw, 3.75rem)) / 3);
    }
}

.case__unit:nth-child(2) {
    margin-bottom: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .case__unit:nth-child(2) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .case__unit:hover {
        opacity: 0.5;
    }
}

.case__image {
    width: 100%;
}

.case__text {
    margin-top: 2.0512820513vw;
    margin-left: 0.5128205128vw;
    font-size: 4.6153846154vw;
    font-weight: 700;
    color: #09947b;
}

@media screen and (min-width: 768px) {
    .case__text {
        margin-top: min(0.6666666667vw, 0.5rem);
        margin-left: 0;
        font-size: min(1.5833333333vw, 1.1875rem);
    }
}

/* お知らせ ----------*/
.news {
    padding-top: 12.3076923077vw;
    padding-bottom: 15.641025641vw;
}

@media screen and (min-width: 768px) {
    .news {
        padding-top: min(4.5vw, 3.375rem);
        padding-bottom: min(5.75vw, 4.3125rem);
    }
}

.news__container {
    margin: 5.3846153846vw auto 0;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .news__container {
        margin: min(2.4166666667vw, 1.8125rem) auto 0;
        width: min(75vw, 56.25rem);
    }
}

.news__list-item {
    padding-bottom: 2.5641025641vw;
    border-top: #ddd solid 0.2564102564vw;
}

@media screen and (min-width: 768px) {
    .news__list-item {
        display: flex;
        align-items: center;
        -moz-column-gap: min(2vw, 1.5rem);
        column-gap: min(2vw, 1.5rem);
        padding-top: min(0.6666666667vw, 0.5rem);
        padding-bottom: min(1.25vw, 0.9375rem);
        border-top: #ddd solid min(0.0833333333vw, 0.0625rem);
    }
}

.news__list-item--01 {
    padding-bottom: 2.3076923077vw;
}

@media screen and (min-width: 768px) {
    .news__list-item--01 {
        padding-bottom: min(1.3333333333vw, 1rem);
    }
}

@media screen and (min-width: 768px) {
    .news__list-item--02 {
        padding-top: min(0.5vw, 0.375rem);
        padding-bottom: min(1.3333333333vw, 1rem);
    }
}

.news__list-item--05 {
    padding-bottom: 2.3076923077vw;
}

@media screen and (min-width: 768px) {
    .news__list-item--05 {
        padding-bottom: min(1.25vw, 0.9375rem);
    }
}

.news__list-item--06 {
    padding-bottom: 2.8205128205vw;
    border-bottom: #ddd solid 0.2564102564vw;
}

@media screen and (min-width: 768px) {
    .news__list-item--06 {
        padding-bottom: min(1.3333333333vw, 1rem);
        border-bottom: #ddd solid min(0.0833333333vw, 0.0625rem);
    }
}

.news__list-link {
    display: block;
    width: 100%;
    height: 100%;
}

.news__list-head {
    display: flex;
    -moz-column-gap: 4.358974359vw;
    column-gap: 4.358974359vw;
    padding-top: 3.5897435897vw;
}

@media screen and (min-width: 768px) {
    .news__list-head {
        -moz-column-gap: min(1.5833333333vw, 1.1875rem);
        column-gap: min(1.5833333333vw, 1.1875rem);
        padding-top: min(0.6666666667vw, 0.5rem);
    }
}

@media screen and (min-width: 768px) {
    .news__list-head--02 {
        padding-top: min(0.75vw, 0.5625rem);
    }
}

.news__list-date {
    font-size: 3.8461538462vw;
    color: #222;
}

@media screen and (min-width: 768px) {
    .news__list-date {
        font-size: min(1.1666666667vw, 0.875rem);
    }
}

.news__list-category {
    margin-top: 0.5128205128vw;
    padding-top: 0.7692307692vw;
    padding-bottom: 0.5128205128vw;
    width: 34.358974359vw;
    text-align: center;
    font-size: 3.3333333333vw;
    color: #fff;
    background-color: #473221;
    border-radius: 1.0256410256vw;
}

@media screen and (min-width: 768px) {
    .news__list-category {
        margin: 0;
        padding: min(0.25vw, 0.1875rem) 0;
        width: min(11.1666666667vw, 8.375rem);
        font-size: min(1.0833333333vw, 0.8125rem);
        border-radius: min(0.3333333333vw, 0.25rem);
    }
}

.news__list-text {
    margin: 2.3076923077vw 0.2564102564vw 0;
    font-size: 3.8461538462vw;
    font-weight: 700;
    color: #09947b;
}

@media screen and (min-width: 768px) {
    .news__list-text {
        margin: min(0.75vw, 0.5625rem) 0 0;
        font-size: min(1.25vw, 0.9375rem);
    }
}

.news__list-text--space {
    content: "";
    margin-left: 1.2820512821vw;
}

@media screen and (min-width: 768px) {
    .news__list-text--space {
        margin-left: min(0.4166666667vw, 0.3125rem);
    }
}

.news__button {
    margin: 6.4102564103vw auto 0;
    padding-top: 4.358974359vw;
    padding-bottom: 4.358974359vw;
    width: 76.9230769231vw;
    text-align: center;
    font-size: 4.6153846154vw;
    font-weight: 700;
    color: #fff;
    background-color: #09947b;
    border-radius: 8.4615384615vw;
    box-shadow: 0 1.2820512821vw 0 0 #066655;
}

@media screen and (min-width: 768px) {
    .news__button {
        margin-top: min(2.6666666667vw, 2rem);
        padding: min(1.4166666667vw, 1.0625rem) 0;
        width: min(25vw, 18.75rem);
        font-size: min(1.5vw, 1.125rem);
        box-shadow: 0 min(0.4166666667vw, 0.3125rem) 0 0 #066655;
    }
}

.news__button:hover {
    transform: translateY(0.7692307692vw);
    box-shadow: 0 0.5128205128vw 0 0 #066655;
}

@media screen and (min-width: 768px) {
    .news__button:hover {
        transform: translateY(min(0.25vw, 0.1875rem));
        box-shadow: 0 min(0.1666666667vw, 0.125rem) 0 0 #066655;
    }
}

/* フッター ----------*/
.footer {
    padding-top: 5.641025641vw;
    padding-bottom: 5.8974358974vw;
    background-color: #168352;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: min(2.8333333333vw, 2.125rem);
        padding-bottom: min(3vw, 2.25rem);
    }
}

.footer__menu-list {
    position: relative;
    display: flex;
    justify-content: center;
    -moz-column-gap: 8.7179487179vw;
    column-gap: 8.7179487179vw;
    font-size: 3.3333333333vw;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .footer__menu-list {
        -moz-column-gap: min(3.5vw, 2.625rem);
        column-gap: min(3.5vw, 2.625rem);
        font-size: min(1.25vw, 0.9375rem);
    }
}

.footer__menu-list::after {
    position: absolute;
    top: 3.0769230769vw;
    content: "";
    width: 5.1282051282vw;
    height: 0.2564102564vw;
    transform: rotate(90deg);
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .footer__menu-list::after {
        top: min(1.0833333333vw, 0.8125rem);
        left: min(0.75vw, 0.5625rem);
        right: 0;
        margin: 0 auto;
        width: min(2vw, 1.5rem);
        height: min(0.0833333333vw, 0.0625rem);
    }
}

@media screen and (min-width: 768px) {
    .footer__menu--list-style {
        letter-spacing: -0.07em;
    }
}

@media screen and (min-width: 768px) {
    .footer__list-style {
        letter-spacing: -0.07em;
    }
}

/* ヘッダー ----------*/
.header__container--subpage {
    padding-top: 1.5384615385vw;
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {
    .header__container--subpage {
        padding-top: min(0.1666666667vw, 0.125rem);
    }
}

.header__button-image--subpage {
    vertical-align: baseline;
}

.header__logo-image--bottom {
    vertical-align: bottom;
}

/* メインビジュアル ----------*/
.subpage-mv {
    margin-top: 16.1538461538vw;
    padding-top: 5.1282051282vw;
}

@media screen and (min-width: 768px) {
    .subpage-mv {
        margin-top: min(9.5vw, 7.125rem);
        padding-top: min(3.3333333333vw, 2.5rem);
    }
}

.subpage-mv__container {
    margin: 0 3.3333333333vw;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .subpage-mv__container {
        position: relative;
        margin: 0 min(8.1666666667vw, 6.125rem);
    }
}

.subpage-mv__image {
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .subpage-mv__image {
        width: 99.7%;
    }
}

.subpage-mv__heading {
    margin-top: 4.6153846154vw;
    margin-left: 0.7692307692vw;
    text-align: left;
    font-size: 7.6923076923vw;
    font-weight: 700;
    letter-spacing: 0.006em;
}

@media screen and (min-width: 768px) {
    .subpage-mv__heading {
        position: absolute;
        bottom: min(3.1666666667vw, 2.375rem);
        margin-left: 0;
        padding: min(1.8333333333vw, 1.375rem) min(2.9166666667vw, 2.1875rem) min(2.3333333333vw, 1.75rem) min(3.5vw, 2.625rem);
        font-size: min(3vw, 2.25rem);
        background-color: #fff;
        border-top-right-radius: min(3.3333333333vw, 2.5rem);
    }
}

.subpage-mv__breadcrumb {
    display: flex;
    -moz-column-gap: 1.7948717949vw;
    column-gap: 1.7948717949vw;
    justify-content: right;
    align-items: center;
    margin-top: 4.1025641026vw;
}

@media screen and (min-width: 768px) {
    .subpage-mv__breadcrumb {
        -moz-column-gap: min(0.5vw, 0.375rem);
        column-gap: min(0.5vw, 0.375rem);
        margin-top: min(1.5vw, 1.125rem);
    }
}

.subpage-mv__breadcrumb-link {
    font-size: 3.0769230769vw;
    letter-spacing: 0.017em;
}

@media screen and (min-width: 768px) {
    .subpage-mv__breadcrumb-link {
        font-size: min(1vw, 0.75rem);
    }
}

.subpage-mv__breadcrumb-link--black {
    color: #000;
    letter-spacing: 0;
}

.subpage-mv__breadcrumb-arrow {
    height: 2.5641025641vw;
}

@media screen and (min-width: 768px) {
    .subpage-mv__breadcrumb-arrow {
        height: min(0.8333333333vw, 0.625rem);
    }
}

.section-title--subpage {
    position: relative;
    padding-bottom: 1.0256410256vw;
    font-size: 5.641025641vw;
    font-weight: 700;
    border-bottom: #ddd solid 0.7692307692vw;
}

@media screen and (min-width: 768px) {
    .section-title--subpage {
        padding-bottom: min(1.25vw, 0.9375rem);
        font-size: min(2.3333333333vw, 1.75rem);
        border-bottom: #ddd solid min(0.4166666667vw, 0.3125rem);
    }
}

.section-title--subpage::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.7692307692vw;
    width: 12.8205128205vw;
    height: inherit;
    border-bottom: #168352 solid 0.7692307692vw;
}

@media screen and (min-width: 768px) {
    .section-title--subpage::before {
        bottom: max(-0.4166666667vw, -0.3125rem);
        width: min(8.3333333333vw, 6.25rem);
        border-bottom: #168352 solid min(0.4166666667vw, 0.3125rem);
    }
}

/* ギャラリー ----------*/
.gallery {
    padding-top: 6.6666666667vw;
    padding-bottom: 4.1025641026vw;
}

@media screen and (min-width: 768px) {
    .gallery {
        padding-top: min(4vw, 3rem);
        padding-bottom: min(2vw, 1.5rem);
    }
}

.gallery__container {
    margin: 0 auto;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .gallery__container {
        width: min(66.6666666667vw, 50rem);
    }
}

.gallery__carousel {
    margin-top: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .gallery__carousel {
        margin-top: min(2.6666666667vw, 2rem);
    }
}

.gallery__image {
    width: 100%;
    height: 60.7692307692vw;
    border-radius: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .gallery__image {
        height: auto;
        border-radius: 0;
    }
}

.slick-slide img {
    -o-object-fit: cover;
    object-fit: cover;
}

.slick-dots {
    bottom: 1.0256410256vw;
    padding-right: 4.1025641026vw;
}

@media screen and (min-width: 768px) {
    .slick-dots {
        bottom: min(1.3333333333vw, 1rem);
        padding-right: min(1.3333333333vw, 1rem);
    }
}

.slick-dots li {
    margin: 0 1.2820512821vw;
    width: 1.0256410256vw;
    height: 5.1282051282vw;
}

@media screen and (min-width: 768px) {
    .slick-dots li {
        margin: 0 min(0.4166666667vw, 0.3125rem);
        width: min(0.3333333333vw, 0.25rem);
        height: min(1.6666666667vw, 1.25rem);
    }
}

.slick-dots li button {
    width: 5.1282051282vw;
    height: 5.1282051282vw;
    padding: 1.2820512821vw;
}

@media screen and (min-width: 768px) {
    .slick-dots li button {
        width: min(1.6666666667vw, 1.25rem);
        height: min(1.6666666667vw, 1.25rem);
        padding: min(0.4166666667vw, 0.3125rem);
    }
}

.slick-dots li button:before {
    width: 5.1282051282vw;
    height: 5.1282051282vw;
    line-height: 5.1282051282vw;
    font-size: 2.0512820513vw;
    color: #eee;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .slick-dots li button:before {
        width: min(1.6666666667vw, 1.25rem);
        height: min(1.6666666667vw, 1.25rem);
        line-height: min(1.6666666667vw, 1.25rem);
        font-size: min(0.6666666667vw, 0.5rem);
    }
}

.slick-dots li.slick-active button:before {
    color: #168352;
}

/* 特長 ----------*/
.products-features {
    padding-top: 2.0512820513vw;
    padding-bottom: 3.8461538462vw;
}

@media screen and (min-width: 768px) {
    .products-features {
        padding-top: min(0.3333333333vw, 0.25rem);
        padding-bottom: min(2.6666666667vw, 2rem);
    }
}

.products-features__container {
    margin: 0 auto;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .products-features__container {
        width: min(66.6666666667vw, 50rem);
    }
}

.products-features__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8.7179487179vw;
    margin-top: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .products-features__wrapper {
        flex-direction: row;
        -moz-column-gap: min(2.5vw, 1.875rem);
        column-gap: min(2.5vw, 1.875rem);
        row-gap: 0;
        margin-top: min(2.6666666667vw, 2rem);
    }
}

@media screen and (min-width: 768px) {
    .products-features__unit {
        width: calc((100% - min(5vw, 3.75rem)) / 3);
    }
}

.products-features__image {
    width: 100%;
}

.products-features__text {
    margin-top: 1.7948717949vw;
    padding-right: 0.2564102564vw;
    font-size: 4.6153846154vw;
    font-weight: 700;
    line-break: anywhere;
}

@media screen and (min-width: 768px) {
    .products-features__text {
        margin-top: min(0.5833333333vw, 0.4375rem);
        padding-right: 0;
        font-size: min(1.5vw, 1.125rem);
    }
}

/* 価格 ----------*/
.price {
    padding-top: 8.9743589744vw;
    padding-bottom: 8.9743589744vw;
}

@media screen and (min-width: 768px) {
    .price {
        padding-top: min(1.5833333333vw, 1.1875rem);
        padding-bottom: min(3.1666666667vw, 2.375rem);
    }
}

.price__container {
    margin: 0 auto;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .price__container {
        width: min(66.6666666667vw, 50rem);
    }
}

.price__price {
    margin-top: 2.0512820513vw;
    font-size: 4.1025641026vw;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .price__price {
        margin-top: min(1.3333333333vw, 1rem);
        font-size: min(1.3333333333vw, 1rem);
    }
}

.price__price--big {
    font-family: "Montserrat", sans-serif;
    font-size: 8.2051282051vw;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .price__price--big {
        font-size: min(2.6666666667vw, 2rem);
    }
}

/* スペック ----------*/
.spec {
    padding-top: 2.0512820513vw;
    padding-bottom: 16.4102564103vw;
}

@media screen and (min-width: 768px) {
    .spec {
        padding-top: min(0.8333333333vw, 0.625rem);
        padding-bottom: min(6vw, 4.5rem);
    }
}

.spec__container {
    margin: 0 auto;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .spec__container {
        width: min(66.6666666667vw, 50rem);
    }
}

.spec__wrapper {
    margin-top: 6.4102564103vw;
}

@media screen and (min-width: 768px) {
    .spec__wrapper {
        margin: min(2.6666666667vw, 2rem) min(2.5vw, 1.875rem) 0;
    }
}

.spec__heading {
    padding: 0.7692307692vw 0 1.5384615385vw 4.1025641026vw;
    font-size: 5.1282051282vw;
    font-weight: 700;
    line-height: 1;
    border-left: #168352 solid 0.5128205128vw;
}

@media screen and (min-width: 768px) {
    .spec__heading {
        padding: min(0.5833333333vw, 0.4375rem) 0 min(0.75vw, 0.5625rem) min(1.3333333333vw, 1rem);
        font-size: min(2vw, 1.5rem);
        border-left: #168352 solid min(0.25vw, 0.1875rem);
    }
}

.spec__table {
    margin-top: 4.6153846154vw;
    width: 100%;
    border: #ddd solid 0.2564102564vw;
    border-collapse: collapse;
}

@media screen and (min-width: 768px) {
    .spec__table {
        margin-top: min(2vw, 1.5rem);
        border: #ddd solid min(0.0833333333vw, 0.0625rem);
    }
}

.spec__table-unit {
    display: flex;
    flex-direction: column;
    line-height: 2.3;
}

@media screen and (min-width: 768px) {
    .spec__table-unit {
        flex-direction: row;
        line-height: 3.8;
    }
}

.spec__table-header {
    padding-left: 4.8717948718vw;
    height: 10vw;
    font-size: 4.1025641026vw;
    font-weight: 700;
    text-align: unset;
    background-color: #f5f5f5;
    border-bottom: #ddd solid 0.2564102564vw;
}

@media screen and (min-width: 768px) {
    .spec__table-header {
        padding-left: min(1.5833333333vw, 1.1875rem);
        width: min(16.5vw, 12.375rem);
        height: min(5.25vw, 3.9375rem);
        font-size: min(1.3333333333vw, 1rem);
        border-bottom: #ddd solid min(0.0833333333vw, 0.0625rem);
    }
}

@media screen and (min-width: 768px) {
    .spec__table-header--07 {
        height: min(5.0833333333vw, 3.8125rem);
    }
}

@media screen and (min-width: 768px) {
    .spec__table-header--noneborder {
        height: min(5.1666666667vw, 3.875rem);
        border-bottom: none;
    }
}

.spec__table-date {
    padding-left: 4.8717948718vw;
    height: 10vw;
    font-size: 4.1025641026vw;
    border-bottom: #ddd solid 0.2564102564vw;
}

@media screen and (min-width: 768px) {
    .spec__table-date {
        padding-left: min(1.9166666667vw, 1.4375rem);
        width: calc(100% - min(16.6666666667vw, 12.5rem));
        height: min(5.25vw, 3.9375rem);
        font-size: min(1.3333333333vw, 1rem);
        border-left: #ddd solid min(0.0833333333vw, 0.0625rem);
        border-bottom: #ddd solid min(0.0833333333vw, 0.0625rem);
    }
}

@media screen and (min-width: 768px) {
    .spec__table-date--07 {
        height: min(5.0833333333vw, 3.8125rem);
    }
}

.spec__table-date--noneborder {
    height: 9.7435897436vw;
    border-bottom: none;
}

@media screen and (min-width: 768px) {
    .spec__table-date--noneborder {
        height: min(5.1666666667vw, 3.875rem);
    }
}

/* お問い合わせ ----------*/
.contact {
    height: 92.3076923077vw;
    background-image: url("/assets/image/products_service/contact/contact_sp.jpg");
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .contact {
        height: min(37.5vw, 28.125rem);
        background-image: url("/assets/image/products_service/contact/contact.jpg");
    }
}

.contact__container {
    margin: 0 auto;
    padding-top: 35.8974358974vw;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .contact__container {
        padding-top: min(15.5vw, 11.625rem);
        width: min(29.8333333333vw, 22.375rem);
    }
}

.contact__button {
    padding-top: 4.6153846154vw;
    width: 91.7948717949vw;
    height: 20.5128205128vw;
    text-align: center;
    font-size: 5.1282051282vw;
    font-weight: 700;
    border: #fff solid 0.5128205128vw;
    border-radius: 10.2564102564vw;
}

@media screen and (min-width: 768px) {
    .contact__button {
        padding-top: min(1.5vw, 1.125rem);
        width: min(29.8333333333vw, 22.375rem);
        height: min(6.6666666667vw, 5rem);
        font-size: min(1.6666666667vw, 1.25rem);
        border: #fff solid min(0.1666666667vw, 0.125rem);
        border-radius: min(3.3333333333vw, 2.5rem);
    }
}

@media screen and (min-width: 768px) {
    .contact__button:hover {
        background-color: #fff;
        color: #168352;
    }
}

.faq {
    padding-top: 9.2307692308vw;
    padding-bottom: 43.5897435897vw;
}

@media screen and (min-width: 768px) {
    .faq {
        padding-top: min(5vw, 3.75rem);
        padding-bottom: min(6vw, 4.5rem);
    }
}

.faq__container {
    margin: 0 auto;
    width: 91.7948717949vw;
}

@media screen and (min-width: 768px) {
    .faq__container {
        width: min(66.6666666667vw, 50rem);
    }
}

.faq__accordion-content {
    margin-bottom: 5.8974358974vw;
    border: #ccc solid 0.2564102564vw;
    border-radius: 4.1025641026vw;
}

@media screen and (min-width: 768px) {
    .faq__accordion-content {
        margin-bottom: min(2.0833333333vw, 1.5625rem);
        border: #ccc solid min(0.0833333333vw, 0.0625rem);
        border-radius: min(1.3333333333vw, 1rem);
    }
}

.faq__accordion-content:nth-child(2n) {
    margin-bottom: 6.4102564103vw;
}

@media screen and (min-width: 768px) {
    .faq__accordion-content:nth-child(2n) {
        margin-bottom: min(2.0833333333vw, 1.5625rem);
    }
}

@media screen and (min-width: 768px) {
    .faq__accordion-content:nth-child(3) {
        margin-bottom: min(2vw, 1.5rem);
    }
}

.faq__accordion-content:nth-child(4) {
    margin-bottom: 5.8974358974vw;
}

@media screen and (min-width: 768px) {
    .faq__accordion-content:nth-child(4) {
        margin-bottom: min(2.1666666667vw, 1.625rem);
    }
}

.faq__accordion-content:nth-child(7) {
    margin-bottom: 6.1538461538vw;
}

@media screen and (min-width: 768px) {
    .faq__accordion-content:nth-child(7) {
        margin-bottom: min(2.0833333333vw, 1.5625rem);
    }
}

.faq__accordion-content:last-child {
    margin-bottom: 0;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 4.1025641026vw;
    column-gap: 4.1025641026vw;
    padding: 5.3846153846vw 5.8974358974vw 4.6153846154vw;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .faq__question {
        -moz-column-gap: 0;
        column-gap: 0;
        padding: min(1.5833333333vw, 1.1875rem) min(2.5833333333vw, 1.9375rem) min(1.3333333333vw, 1rem);
    }
}

.faq__question::after {
    content: "";
    display: block;
    margin-top: 1.2820512821vw;
    width: 4.8717948718vw;
    height: 4.8717948718vw;
    background-image: url("/assets/image/faq/icon-minus.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .faq__question::after {
        margin-top: min(0.5vw, 0.375rem);
        width: min(1.5833333333vw, 1.1875rem);
        height: min(1.5833333333vw, 1.1875rem);
    }
}

.faq__question--active::after {
    background-image: url("/assets/image/faq/icon-plus.svg");
}

.faq__question-icon {
    font-family: "Montserrat", sans-serif;
    font-size: 6.1538461538vw;
    font-weight: 700;
    line-height: 1;
    color: #168352;
}

@media screen and (min-width: 768px) {
    .faq__question-icon {
        font-size: min(2vw, 1.5rem);
    }
}

.faq__question-inner {
    margin-top: 0.5128205128vw;
    width: 60vw;
}

@media screen and (min-width: 768px) {
    .faq__question-inner {
        margin-top: min(0.25vw, 0.1875rem);
        width: min(55.1666666667vw, 41.375rem);
    }
}

.faq__question-inner-top {
    display: flex;
    -moz-column-gap: 2.0512820513vw;
    column-gap: 2.0512820513vw;
}

@media screen and (min-width: 768px) {
    .faq__question-inner-top {
        -moz-column-gap: min(0.6666666667vw, 0.5rem);
        column-gap: min(0.6666666667vw, 0.5rem);
    }
}

.faq__question-category {
    width: 25.641025641vw;
    height: 6.1538461538vw;
    text-align: center;
    font-size: 2.8205128205vw;
    color: #168352;
    border: #168352 solid 0.2564102564vw;
    border-radius: 1.0256410256vw;
}

@media screen and (min-width: 768px) {
    .faq__question-category {
        width: min(8.3333333333vw, 6.25rem);
        height: min(2vw, 1.5rem);
        font-size: min(0.9166666667vw, 0.6875rem);
        border: #168352 solid min(0.0833333333vw, 0.0625rem);
        border-radius: min(0.3333333333vw, 0.25rem);
    }
}

.faq__question-text {
    font-size: 4.1025641026vw;
    font-weight: 700;
    line-break: anywhere;
}

@media screen and (min-width: 768px) {
    .faq__question-text {
        margin-top: min(0.6666666667vw, 0.5rem);
        font-size: min(1.5vw, 1.125rem);
    }
}

.faq__answer {
    margin-top: -4.6153846154vw;
    display: none;
    padding: 0.2564102564vw 6.1538461538vw 4.6153846154vw;
    font-size: 4.1025641026vw;
    line-break: anywhere;
}

@media screen and (min-width: 768px) {
    .faq__answer {
        margin-top: min(0.0833333333vw, 0.0625rem);
        padding: 0 min(2.6666666667vw, 2rem) min(1.5vw, 1.125rem);
        font-size: min(1.3333333333vw, 1rem);
    }
}

.faq__answer--04,
.faq__answer--05,
.faq__answer--06,
.faq__answer--07,
.faq__answer--08,
.faq__answer--09,
.faq__answer--11 {
    padding-left: 6.9230769231vw;
}

@media screen and (min-width: 768px) {

    .faq__answer--04,
    .faq__answer--05,
    .faq__answer--06,
    .faq__answer--07,
    .faq__answer--08,
    .faq__answer--09,
    .faq__answer--11 {
        padding-left: min(2.5833333333vw, 1.9375rem);
    }
}

.faq__answer--04 {
    margin-top: -4.358974359vw;
}

@media screen and (min-width: 768px) {
    .faq__answer--04 {
        margin-top: 0;
    }
}

.faq__answer--05 {
    padding-bottom: 4.358974359vw;
}

@media screen and (min-width: 768px) {
    .faq__answer--05 {
        padding-bottom: min(1.4166666667vw, 1.0625rem);
    }
}

.faq__answer--07 {
    padding-right: 5.1282051282vw;
}

@media screen and (min-width: 768px) {
    .faq__answer--07 {
        padding-right: min(1.6666666667vw, 1.25rem);
    }
}

.faq__answer--09 {
    padding-bottom: 4.358974359vw;
}

@media screen and (min-width: 768px) {
    .faq__answer--09 {
        padding-bottom: min(1.4166666667vw, 1.0625rem);
    }
}

.faq__answer--10 {
    padding-left: 6.6666666667vw;
}

@media screen and (min-width: 768px) {
    .faq__answer--10 {
        padding-left: min(2.6666666667vw, 2rem);
    }
}

.faq__answer--11 {
    margin-top: -2.3076923077vw;
    padding-bottom: 4.358974359vw;
}

@media screen and (min-width: 768px) {
    .faq__answer--11 {
        margin-top: min(0.0833333333vw, 0.0625rem);
        padding-bottom: min(1.4166666667vw, 1.0625rem);
    }
}

/*# sourceMappingURL=main.css.map */