@charset "UTF-8";
/* ページ全体のスタイル ----------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 部品 ----------*/
.section-title {
  text-align: center;
}
.section-title__head {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 4.1025641026vw;
  font-weight: 600;
  color: #168352;
}
@media screen and (min-width: 768px) {
  .section-title__head {
    font-size: min(1.6666666667vw, 1.25rem);
  }
}
.section-title__heading {
  display: block;
  font-size: 5.1282051282vw;
  font-weight: 700;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .section-title__heading {
    margin-top: min(0.3333333333vw, 0.25rem);
    margin-left: min(0.1666666667vw, 0.125rem);
    font-size: min(2.3333333333vw, 1.75rem);
  }
}

/* ヘッダー ----------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 16.1538461538vw;
  background-color: #fff;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    height: min(9.5vw, 7.125rem);
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.1025641026vw;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header__container {
    margin: 0 auto;
    padding: 0;
    width: min(97.5vw, 73.125rem);
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: min(0.1666666667vw, 0.125rem);
  }
}
.header__logo-image {
  width: 50.5128205128vw;
  vertical-align: baseline;
}
@media screen and (min-width: 768px) {
  .header__logo-image {
    width: min(21.8333333333vw, 16.375rem);
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__button-image {
  width: 6.1538461538vw;
}
.header__menu {
  position: fixed;
  top: 16.1538461538vw;
  width: 91.7948717949vw;
  margin: 0 auto;
  background-color: #168352;
  border-radius: 6.1538461538vw;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .header__menu {
    position: static;
    margin: 0;
    width: unset;
    background-color: #fff;
    border-radius: 0;
    visibility: visible;
  }
}
.header__menu-active {
  visibility: visible;
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 6.4102564103vw;
  margin-top: 8.2051282051vw;
  margin-bottom: 8.4615384615vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__menu-list {
    flex-direction: row;
    -moz-column-gap: min(3.25vw, 2.4375rem);
         column-gap: min(3.25vw, 2.4375rem);
    row-gap: 0;
    margin: 0;
  }
}
.header__menu-list-item {
  font-size: 4.6153846154vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__menu-list-item {
    font-size: min(1.3333333333vw, 1rem);
  }
}
.header__menu-list-item:first-child {
  margin-right: 1.0256410256vw;
}
@media screen and (min-width: 768px) {
  .header__menu-list-item:first-child {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-list-item--black {
    color: #000;
  }
}

/* カバー ----------*/
.cover {
  margin-top: 16.1538461538vw;
  padding-bottom: 12.3076923077vw;
}
@media screen and (min-width: 768px) {
  .cover {
    margin-top: min(9.5vw, 7.125rem);
    padding-bottom: min(4.5833333333vw, 3.4375rem);
  }
}
.cover__container {
  margin: 0 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .cover__container {
    margin: 0 auto;
    padding-top: min(3.1666666667vw, 2.375rem);
    width: min(97.25vw, 72.9375rem);
  }
}
.cover__wrapper {
  margin-top: 18.4615384615vw;
  margin-bottom: 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .cover__wrapper {
    display: flex;
    -moz-column-gap: min(11vw, 8.25rem);
         column-gap: min(11vw, 8.25rem);
    margin: 0 min(2.6666666667vw, 2rem) min(4.75vw, 3.5625rem);
  }
}
.cover__catch {
  margin-bottom: 3.8461538462vw;
  font-size: 7.1794871795vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .cover__catch {
    margin-bottom: 0;
    font-size: min(3.3333333333vw, 2.5rem);
    white-space: nowrap;
  }
}
.cover__text {
  font-size: 3.8461538462vw;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .cover__text {
    margin-top: min(0.8333333333vw, 0.625rem);
    font-size: min(1.25vw, 0.9375rem);
  }
}
.cover__image {
  width: 100%;
}

/* 会社概要 ----------*/
@media screen and (min-width: 768px) {
  .about-us {
    padding-bottom: min(3.1666666667vw, 2.375rem);
  }
}
.about-us__container {
  margin-top: 5.641025641vw;
  padding: 8.2051282051vw 4.1025641026vw;
  background-image: url("/assets/image/top/about/about_us.jpg");
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .about-us__container {
    display: flex;
    -moz-column-gap: min(12.5vw, 9.375rem);
         column-gap: min(12.5vw, 9.375rem);
    margin: min(2.3333333333vw, 1.75rem) auto;
    padding: 0;
    width: min(80.6666666667vw, 60.5rem);
    background-image: none;
  }
}
.about-us__wrapper {
  padding: 3.8461538462vw 6.1538461538vw 4.6153846154vw;
  color: #111;
  background-color: #fff;
  border-radius: 8.2051282051vw;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .about-us__wrapper {
    margin-top: min(8.5vw, 6.375rem);
    padding: 0;
    opacity: 1;
  }
}
.about-us__inner-top {
  margin-bottom: 1.7948717949vw;
  font-size: 4.6153846154vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-us__inner-top {
    font-size: min(1.6666666667vw, 1.25rem);
  }
}
.about-us__inner-top--br {
  display: inline-block;
}
.about-us__inner-top--br:first-child {
  display: inline;
}
@media screen and (min-width: 768px) {
  .about-us__inner-top--br:first-child {
    display: inline-block;
  }
}
.about-us__inner-text {
  font-size: 3.8461538462vw;
  letter-spacing: 0.006em;
}
@media screen and (min-width: 768px) {
  .about-us__inner-text {
    font-size: min(1.25vw, 0.9375rem);
  }
}
.about-us__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-us__image {
    display: block;
    margin-right: min(1.1666666667vw, 0.875rem);
    width: min(32.5vw, 24.375rem);
  }
}

/* 特徴 ----------*/
.features {
  padding-top: 12.0512820513vw;
  padding-bottom: 9.2307692308vw;
  background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: min(4.4166666667vw, 3.3125rem);
    padding-bottom: min(5.3333333333vw, 4rem);
  }
}
.features__container {
  margin-top: 5.641025641vw;
}
@media screen and (min-width: 768px) {
  .features__container {
    display: flex;
    -moz-column-gap: min(2.5vw, 1.875rem);
         column-gap: min(2.5vw, 1.875rem);
    margin: min(2.4166666667vw, 1.8125rem) auto 0;
    width: min(97.25vw, 72.9375rem);
  }
}
.features__unit {
  margin: 0 auto 4.8717948718vw;
  width: 91.7948717949vw;
  background-color: #fff;
  border-radius: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .features__unit {
    margin-bottom: 0;
    border-radius: min(2vw, 1.5rem);
  }
}
.features__image {
  width: 100%;
}
.features__text {
  padding: 3.0769230769vw 4.1025641026vw 3.5897435897vw;
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #111;
}
@media screen and (min-width: 768px) {
  .features__text {
    padding: min(1vw, 0.75rem) min(1.6666666667vw, 1.25rem) min(1.1666666667vw, 0.875rem);
    font-size: min(1.5833333333vw, 1.1875rem);
  }
}

/* 製品・サービス紹介 ----------*/
.service {
  padding-top: 12.5641025641vw;
  padding-bottom: 8.9743589744vw;
}
@media screen and (min-width: 768px) {
  .service {
    padding-top: min(4.8333333333vw, 3.625rem);
    padding-bottom: min(5.3333333333vw, 4rem);
  }
}
.service__container {
  margin: 5.641025641vw auto;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .service__container {
    margin: min(2.5vw, 1.875rem) auto 0;
    width: min(91.6666666667vw, 68.75rem);
  }
}
.service__list {
  display: flex;
  flex-direction: column;
  row-gap: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .service__list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: min(3.3333333333vw, 2.5rem);
    justify-content: space-between;
  }
}
.service__list-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 4.358974359vw;
       column-gap: 4.358974359vw;
  padding: 5.1282051282vw 6.1538461538vw;
  background-color: #168352;
  border-radius: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .service__list-item {
    -moz-column-gap: min(2.5vw, 1.875rem);
         column-gap: min(2.5vw, 1.875rem);
    padding: min(0.3333333333vw, 0.25rem) min(2.6666666667vw, 2rem) 0;
    width: calc((100% - min(4.1666666667vw, 3.125rem)) / 2);
    height: min(15vw, 11.25rem);
    border-radius: min(2vw, 1.5rem);
  }
}
@media screen and (min-width: 768px) {
  .service__list-item--small {
    -moz-column-gap: min(1.5833333333vw, 1.1875rem);
         column-gap: min(1.5833333333vw, 1.1875rem);
    padding: min(0.1666666667vw, 0.125rem) min(2.0833333333vw, 1.5625rem) 0;
    width: calc((100% - min(8.3333333333vw, 6.25rem)) / 3);
    height: min(12.5vw, 9.375rem);
  }
}
.service__image {
  width: 36.1538461538vw;
}
@media screen and (min-width: 768px) {
  .service__image {
    width: min(13.3333333333vw, 10rem);
  }
}
.service__image--03 {
  width: 33.8461538462vw;
}
@media screen and (min-width: 768px) {
  .service__image--03 {
    width: min(16.6666666667vw, 12.5rem);
  }
}
.service__image--04 {
  width: 26.1538461538vw;
}
@media screen and (min-width: 768px) {
  .service__image--04 {
    width: min(13.1666666667vw, 9.875rem);
  }
}
.service__image--05 {
  width: 31.0256410256vw;
}
@media screen and (min-width: 768px) {
  .service__image--05 {
    width: min(15.5vw, 11.625rem);
  }
}
.service__text {
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .service__text {
    font-size: min(2vw, 1.5rem);
  }
}
.service__text--br {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .service__text--small {
    font-size: min(1.6666666667vw, 1.25rem);
  }
}
@media screen and (min-width: 768px) {
  .service__text--small-br {
    display: inline;
  }
}

/* 事例紹介 ----------*/
.case {
  padding-top: 11.7948717949vw;
  padding-bottom: 5.641025641vw;
  background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
  .case {
    padding-top: min(4.5833333333vw, 3.4375rem);
    padding-bottom: min(4.9166666667vw, 3.6875rem);
  }
}
.case__container {
  margin: 5.641025641vw auto 0;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .case__container {
    display: flex;
    justify-content: space-between;
    margin: min(2.5vw, 1.875rem) auto 0;
    width: min(97.25vw, 72.9375rem);
  }
}
.case__unit {
  margin-bottom: 6.9230769231vw;
}
@media screen and (min-width: 768px) {
  .case__unit {
    margin-bottom: 0;
    width: calc((100% - min(5vw, 3.75rem)) / 3);
  }
}
.case__unit:nth-child(2) {
  margin-bottom: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .case__unit:nth-child(2) {
    margin-bottom: 0;
  }
}
.case__unit:hover {
  opacity: 0.5;
}
.case__image {
  width: 100%;
}
.case__text {
  margin-top: 2.0512820513vw;
  margin-left: 0.5128205128vw;
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #09947b;
}
@media screen and (min-width: 768px) {
  .case__text {
    margin-top: min(0.6666666667vw, 0.5rem);
    margin-left: 0;
    font-size: min(1.5833333333vw, 1.1875rem);
  }
}

/* お知らせ ----------*/
.news {
  padding-top: 12.3076923077vw;
  padding-bottom: 15.8974358974vw;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: min(4.5vw, 3.375rem);
    padding-bottom: min(5.75vw, 4.3125rem);
  }
}
.news__container {
  margin: 5.641025641vw auto 0;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .news__container {
    margin: min(2.4166666667vw, 1.8125rem) auto 0;
    width: min(75vw, 56.25rem);
  }
}
.news__list-item {
  padding-bottom: 2.5641025641vw;
  border-top: #ddd solid 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .news__list-item {
    display: flex;
    align-items: center;
    -moz-column-gap: min(2vw, 1.5rem);
         column-gap: min(2vw, 1.5rem);
    padding-top: min(0.6666666667vw, 0.5rem);
    padding-bottom: min(1.25vw, 0.9375rem);
    border-top: #ddd solid min(0.0833333333vw, 0.0625rem);
  }
}
.news__list-item:first-child {
  padding-bottom: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .news__list-item:first-child {
    padding-bottom: min(1.3333333333vw, 1rem);
  }
}
@media screen and (min-width: 768px) {
  .news__list-item:nth-child(2) {
    padding-top: min(0.5vw, 0.375rem);
    padding-bottom: min(1.3333333333vw, 1rem);
  }
}
.news__list-item:nth-child(5) {
  padding-bottom: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .news__list-item:nth-child(5) {
    padding-bottom: min(1.25vw, 0.9375rem);
  }
}
.news__list-item:last-child {
  padding-bottom: 2.8205128205vw;
  border-bottom: #ddd solid 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .news__list-item:last-child {
    padding-bottom: min(1.3333333333vw, 1rem);
    border-bottom: #ddd solid min(0.0833333333vw, 0.0625rem);
  }
}
.news__list-head {
  display: flex;
  -moz-column-gap: 4.358974359vw;
       column-gap: 4.358974359vw;
  padding-top: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .news__list-head {
    -moz-column-gap: min(1.5833333333vw, 1.1875rem);
         column-gap: min(1.5833333333vw, 1.1875rem);
    padding-top: min(0.6666666667vw, 0.5rem);
  }
}
@media screen and (min-width: 768px) {
  .news__list-head--02 {
    padding-top: min(0.75vw, 0.5625rem);
  }
}
.news__list-date {
  font-size: 3.8461538462vw;
  color: #222;
}
@media screen and (min-width: 768px) {
  .news__list-date {
    font-size: min(1.1666666667vw, 0.875rem);
  }
}
.news__list-category {
  margin-top: 0.5128205128vw;
  padding-top: 0.7692307692vw;
  padding-bottom: 0.5128205128vw;
  width: 34.358974359vw;
  text-align: center;
  font-size: 3.3333333333vw;
  color: #fff;
  background-color: #473221;
  border-radius: 1.0256410256vw;
}
@media screen and (min-width: 768px) {
  .news__list-category {
    margin: 0;
    padding: min(0.25vw, 0.1875rem) 0;
    width: min(11.1666666667vw, 8.375rem);
    font-size: min(1.0833333333vw, 0.8125rem);
    border-radius: min(0.3333333333vw, 0.25rem);
  }
}
.news__list-text {
  margin: 2.3076923077vw 0.2564102564vw 0;
  font-size: 3.8461538462vw;
  font-weight: 700;
  color: #09947b;
}
@media screen and (min-width: 768px) {
  .news__list-text {
    margin: min(0.75vw, 0.5625rem) 0 0;
    font-size: min(1.25vw, 0.9375rem);
  }
}
.news__list-text--space {
  content: "";
  margin-left: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .news__list-text--space {
    margin-left: min(0.4166666667vw, 0.3125rem);
  }
}
.news__button {
  margin: 6.1538461538vw auto 0;
  padding-top: 4.358974359vw;
  padding-bottom: 4.358974359vw;
  width: 76.9230769231vw;
  text-align: center;
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #fff;
  background-color: #09947b;
  border-radius: 8.4615384615vw;
  box-shadow: 0 1.2820512821vw 0 0 #066655;
}
@media screen and (min-width: 768px) {
  .news__button {
    margin-top: min(2.6666666667vw, 2rem);
    padding: min(1.4166666667vw, 1.0625rem) 0;
    width: min(25vw, 18.75rem);
    font-size: min(1.5vw, 1.125rem);
    box-shadow: 0 min(0.4166666667vw, 0.3125rem) 0 0 #066655;
  }
}
.news__button:hover {
  transform: translateY(0.7692307692vw);
  box-shadow: 0 0.5128205128vw 0 0 #066655;
}
@media screen and (min-width: 768px) {
  .news__button:hover {
    transform: translateY(min(0.25vw, 0.1875rem));
    box-shadow: 0 min(0.1666666667vw, 0.125rem) 0 0 #066655;
  }
}

/* フッター ----------*/
.footer {
  padding-top: 5.641025641vw;
  padding-bottom: 5.8974358974vw;
  background-color: #168352;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: min(2.8333333333vw, 2.125rem);
    padding-bottom: min(3vw, 2.25rem);
  }
}
.footer__menu-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.5384615385vw;
       column-gap: 1.5384615385vw;
  font-size: 3.3333333333vw;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__menu-list {
    -moz-column-gap: min(0.6666666667vw, 0.5rem);
         column-gap: min(0.6666666667vw, 0.5rem);
    font-size: min(1.25vw, 0.9375rem);
  }
}
.footer__menu-bar {
  content: "";
  margin-top: 2.8205128205vw;
  margin-left: 0.5128205128vw;
  width: 5.1282051282vw;
  height: 0.2564102564vw;
  transform: rotate(90deg);
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__menu-bar {
    margin-top: min(1.1666666667vw, 0.875rem);
    margin-left: min(0.1666666667vw, 0.125rem);
    width: min(2vw, 1.5rem);
    height: min(0.0833333333vw, 0.0625rem);
  }
}
@media screen and (min-width: 768px) {
  .footer__menu--list-style {
    letter-spacing: -0.07em;
  }
}/*# sourceMappingURL=main.css.map */