@charset "UTF-8";

// 単位変換関数

@function vw($px) {
    @return calc($px * 100vw / 390); // 390pxはカンプの幅を記述
}

@function vwPC($px) {
    @return calc($px * 100vw / 1400); // 1536pxはカンプの幅を記述
}

@function px2Rem($px) {
    @return calc($px / 16) * 1rem;
}

@function min($values...) {
    @return unquote('min(#{$values})');
}

@function max($values...) {
    @return unquote('max(#{$values})');
}

@function mvw($px) {
    $value1: calc($px * 100vw / 1200);
    $value2: px2Rem($px);

    @if $px >=0 {
        @return min($value1, $value2);
    }

    @else {
        @return max($value1, $value2);
    }
}

// メディアクエリ
$breakpoints: (
    "md": "screen and (min-width: 768px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// レイアウト
/* ページ全体のスタイル ----------*/
body {
    font-family: "Noto Sans JP",
        sans-serif;
    line-height: 1.75;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品 ----------*/
.section-title {
    text-align: center;

    &__head {
        display: block;
        font-family: "Montserrat",
            sans-serif;
        font-size: vw(16
        );
    font-weight: 600;
    color: #168352;

    @include mq {
        font-size: mvw(20);
    }
}

&__heading {
    display: block;
    font-size: vw(20);
    font-weight: 700;
    line-height: 1.25;

    @include mq {
        margin-top: mvw(4);
        margin-left: mvw(2);
        font-size: mvw(28);
    }
}
}

/* ヘッダー ----------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: vw(63);
    background-color: #fff;
    z-index: 100;

    @include mq {
        height: mvw(114);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 vw(16) vw(8);
        height: 100%;

        @include mq {
            margin: 0 auto;
            padding: 0;
            width: mvw(1170);
        }
    }

    &__logo {
        @include mq {
            margin-left: mvw(2);
        }
    }

    &__logo-image {
        width: vw(197);
        vertical-align: baseline;

        @include mq {
            width: mvw(262);
        }
    }

    &__button {
        @include mq {
            display: none;
        }
    }

    &__button-image {
        width: vw(24);
    }

    &__menu {
        position: fixed;
        top: vw(63);
        width: vw(358);
        margin: 0 auto;
        background-color: #168352;
        border-radius: vw(24);
        opacity: 0;
        transition: opacity 0.3s ease;

        @include mq {
            position: static;
            margin: 0;
            width: unset;
            background-color: #fff;
            border-radius: 0;
            opacity: 1;
        }
    }

    &__menu-active {
        opacity: 1;
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        row-gap: vw(25);
        margin-top: vw(32);
        margin-bottom: vw(33);
        text-align: center;

        @include mq {
            flex-direction: row;
            column-gap: mvw(39);
            row-gap: 0;
            margin: 0;
        }
    }

    &__menu-list-item {
        font-size: vw(18);
        font-weight: 700;

        @include mq {
            font-size: mvw(16);
        }

        &:first-child {
            margin-right: vw(4);

            @include mq {
                display: none;
            }
        }

        &--black {
            @include mq {
                color: #000;
            }
        }
    }
}

/* カバー ----------*/
.cover {
    margin-top: vw(63);
    padding-bottom: vw(48);

    @include mq {
        margin-top: mvw(114);
        padding-bottom: mvw(55);
    }

    &__container {
        margin: 0 vw(16);

        @include mq {
            margin: 0 auto;
            padding-top: mvw(38);
            width: mvw(1167);
        }
    }

    &__wrapper {
        margin-top: vw(72);
        margin-bottom: vw(26);

        @include mq {
            display: flex;
            column-gap: mvw(132);
            margin: 0 mvw(32) mvw(57);
        }
    }

    &__catch {
        margin-bottom: vw(15);
        font-size: vw(28);
        font-weight: 700;

        @include mq {
            margin-bottom: 0;
            font-size: mvw(40);
            white-space: nowrap;
        }
    }

    &__text {
        font-size: vw(15);
        line-break: anywhere;

        @include mq {
            margin-top: mvw(10);
            font-size: mvw(15);
        }
    }

    &__image {
        width: 100%;
    }
}


/* 会社概要 ----------*/
.about-us {
    @include mq {
        padding-bottom: mvw(38);
    }

    &__container {
        margin-top: vw(22);
        padding: vw(32) vw(16);
        background-image: url("/assets/image/top/about/about_us.jpg");
        background-size: cover;

        @include mq {
            display: flex;
            column-gap: mvw(150);
            margin: mvw(28) auto;
            padding: 0;
            width: mvw(968);
            background-image: none;
        }
    }

    &__wrapper {
        padding: vw(15) vw(24) vw(18);
        color: #111;
        background-color: #fff;
        border-radius: vw(32);
        opacity: .8;

        @include mq {
            margin-top: mvw(102);
            padding: 0;
            opacity: 1;
        }
    }

    &__inner-top {
        margin-bottom: vw(7);
        font-size: vw(18);
        font-weight: 700;

        @include mq {
            font-size: mvw(20);
        }

        &--br {
            display: inline-block;

            &:first-child {
                display: inline;

                @include mq {
                    display: inline-block;
                }
            }
        }
    }

    &__inner-text {
        font-size: vw(15);
        letter-spacing: .006em;

        @include mq {
            font-size: mvw(15);
        }
    }

    &__image {
        display: none;

        @include mq {
            display: block;
            margin-right: mvw(14);
            width: mvw(390);
        }
    }
}


/* 特徴 ----------*/
.features {
    padding-top: vw(47);
    padding-bottom: vw(36);
    background-color: #f3f9f6;

    @include mq {
        padding-top: mvw(53);
        padding-bottom: mvw(64);
    }

    &__container {
        margin-top: vw(22);

        @include mq {
            display: flex;
            column-gap: mvw(30);
            margin: mvw(29) auto 0;
            width: mvw(1167);
        }
    }

    &__unit {
        margin: 0 auto vw(19);
        width: vw(358);
        background-color: #fff;
        border-radius: vw(24);

        @include mq {
            margin-bottom: 0;
            border-radius: mvw(24);
        }
    }

    &__image {
        width: 100%;
    }

    &__text {
        padding: vw(12) vw(16) vw(14);
        font-size: vw(18);
        font-weight: 700;
        color: #111;

        @include mq {
            padding: mvw(12) mvw(20) mvw(14);
            font-size: mvw(19);
        }
    }
}


/* 製品・サービス紹介 ----------*/
.service {
    padding-top: vw(49);
    padding-bottom: vw(35);

    @include mq {
        padding-top: mvw(58);
        padding-bottom: mvw(64);
    }

    &__container {
        margin: vw(22) auto;
        width: vw(358);

        @include mq {
            margin: mvw(30) auto 0;
            width: mvw(1100);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: vw(20);

        @include mq {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: mvw(40);
            justify-content: space-between;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        column-gap: vw(17);
        padding: vw(20) vw(24);
        color: #fff;
        background-color: #168352;
        border-radius: vw(24);

        @include mq {
            column-gap: mvw(30);
            padding: mvw(4) mvw(32) 0;
            width: calc((100% - mvw(50))/2);
            height: mvw(180);
            border-radius: mvw(24);
        }

        &--small {
            @include mq {
                column-gap: mvw(19);
                padding: mvw(2) mvw(25) 0;
                width: calc((100% - mvw(100))/3);
                height: mvw(150);
            }
        }

        &:hover{
            @include mq {
                color: #168352;
                background-color: #dffaec;
            }
        }
    }

    &__image {
        width: vw(141);

        @include mq {
            width: mvw(160);
        }

        &--03 {
            width: vw(132);

            @include mq {
                width: mvw(200);
            }
        }

        &--04 {
            width: vw(102);

            @include mq {
                width: mvw(158);
            }
        }

        &--05 {
            width: vw(121);

            @include mq {
                width: mvw(186);
            }
        }
    }

    &__text {
        font-size: vw(18);
        font-weight: 700;

        @include mq {
            font-size: mvw(24);
        }

        &--br {
            display: inline-block;
        }

        &--small {
            @include mq {
                font-size: mvw(20);
            }
        }
    }
}


/* 事例紹介 ----------*/
.case {
    padding-top: vw(46);
    padding-bottom: vw(22);
    background-color: #f3f9f6;

    @include mq {
        padding-top: mvw(55);
        padding-bottom: mvw(59);
    }

    &__container {
        margin: vw(22) auto 0;
        width: vw(358);

        @include mq {
            display: flex;
            justify-content: space-between;
            margin: mvw(30) auto 0;
            width: mvw(1167);
        }
    }

    &__unit {
        margin-bottom: vw(27);

        @include mq {
            margin-bottom: 0;
            width: calc((100% - mvw(60))/3);
        }

        &:nth-child(2) {
            margin-bottom: vw(24);

            @include mq {
                margin-bottom: 0;
            }
        }

        &:hover {
            @include mq {
                opacity: .5;
            }
        }
    }

    &__image {
        width: 100%;
    }

    &__text {
        margin-top: vw(8);
        margin-left: vw(2);
        font-size: vw(18);
        font-weight: 700;
        color: #09947b;

        @include mq {
            margin-top: mvw(8);
            margin-left: 0;
            font-size: mvw(19);
        }
    }
}


/* お知らせ ----------*/
.news {
    padding-top: vw(48);
    padding-bottom: vw(62);

    @include mq {
        padding-top: mvw(54);
        padding-bottom: mvw(69);
    }

    &__container {
        margin: vw(22) auto 0;
        width: vw(358);

        @include mq {
            margin: mvw(29) auto 0;
            width: mvw(900);
        }
    }

    &__list-item {
        padding-bottom: vw(10);
        border-top: #ddd solid vw(1);

        @include mq {
            display: flex;
            align-items: center;
            column-gap: mvw(24);
            padding-top: mvw(8);
            padding-bottom: mvw(15);
            border-top: #ddd solid mvw(1);
        }

        &:first-child {
            padding-bottom: vw(9);

            @include mq {
                padding-bottom: mvw(16);
            }
        }

        &:nth-child(2) {
            @include mq {
                padding-top: mvw(6);
                padding-bottom: mvw(16);
            }
        }

        &:nth-child(5) {
            padding-bottom: vw(9);

            @include mq {
                padding-bottom: mvw(15);
            }
        }


        &:last-child {
            padding-bottom: vw(11);
            border-bottom: #ddd solid vw(1);

            @include mq {
                padding-bottom: mvw(16);
                border-bottom: #ddd solid mvw(1);
            }
        }
    }

    &__list-head {
        display: flex;
        column-gap: vw(17);
        padding-top: vw(14);

        @include mq {
            column-gap: mvw(19);
            padding-top: mvw(8);
        }

        &--02 {
            @include mq {
                padding-top: mvw(9);
            }
        }
    }

    &__list-date {
        font-size: vw(15);
        color: #222;

        @include mq {
            font-size: mvw(14);
        }
    }

    &__list-category {
        margin-top: vw(2);
        padding-top: vw(3);
        padding-bottom: vw(2);
        width: vw(134);
        text-align: center;
        font-size: vw(13);
        color: #fff;
        background-color: #473221;
        border-radius: vw(4);

        @include mq {
            margin: 0;
            padding: mvw(3) 0;
            width: mvw(134);
            font-size: mvw(13);
            border-radius: mvw(4);
        }
    }

    &__list-text {
        margin: vw(9) vw(1) 0;
        font-size: vw(15);
        font-weight: 700;
        color: #09947b;

        @include mq {
            margin: mvw(9) 0 0;
            font-size: mvw(15);
        }

        &--space {
            content: "";
            margin-left: vw(5);

            @include mq {
                margin-left: mvw(5);
            }
        }
    }

    &__button {
        margin: vw(24) auto 0;
        padding-top: vw(17);
        padding-bottom: vw(17);
        width: vw(300);
        text-align: center;
        font-size: vw(18);
        font-weight: 700;
        color: #fff;
        background-color: #09947b;
        border-radius: vw(33);
        box-shadow: 0 vw(5) 0 0 #066655;

        @include mq {
            margin-top: mvw(32);
            padding: mvw(17) 0;
            width: mvw(300);
            font-size: mvw(18);
            box-shadow: 0 mvw(5) 0 0 #066655;
        }

        &:hover {
            transform: translateY(vw(3));
            box-shadow: 0 vw(2) 0 0 #066655;

            @include mq {
                transform: translateY(mvw(3));
                box-shadow: 0 mvw(2) 0 0 #066655;
            }
        }
    }
}


/* フッター ----------*/
.footer {
    padding-top: vw(22);
    padding-bottom: vw(23);
    background-color: #168352;

    @include mq {
        padding-top: mvw(34);
        padding-bottom: mvw(36);
    }

    &__menu-list {
        display: flex;
        justify-content: center;
        column-gap: vw(6);
        font-size: vw(13);
        color: #fff;

        @include mq {
            column-gap: mvw(8);
            font-size: mvw(15);
        }
    }

    &__menu-bar {
        content: "";
        margin-top: vw(11);
        margin-left: vw(2);
        width: vw(20);
        height: vw(1);
        transform: rotate(90deg);
        background-color: #fff;

        @include mq {
            margin-top: mvw(14);
            margin-left: mvw(2);
            width: mvw(24);
            height: mvw(1);
        }
    }

    &__menu--list-style {
        @include mq {
            letter-spacing: -.07em;
        }
    }
}


// 下層ページ -----------------
/* ヘッダー ----------*/
.header {
    &__container--subpage {
        padding-top: vw(6);
        padding-bottom: 0;
    }

    &__button-image--subpage {
        vertical-align: baseline;
    }

    &__logo-image--bottom{
        vertical-align: bottom;
    }
}

/* メインビジュアル ----------*/
.subpage-mv {
    margin-top: vw(63);
    padding-top: vw(20);

    &__container {
        margin: 0 vw(13);
        text-align: center;
    }

    &__image {
        width: vw(358);
    }

    &__heading {
        margin-top: vw(18);
        margin-left: vw(3);
        text-align: left;
        font-size: vw(30);
        font-weight: 700;
        letter-spacing: .006em;
    }

    &__breadcrumb {
        display: flex;
        column-gap: vw(7);
        justify-content: right;
        align-items: center;
        margin-top: vw(16);
    }

    &__breadcrumb-link {
        font-size: vw(12);
        letter-spacing: .017em;

        &--black {
            color: #000;
            letter-spacing: 0;
        }
    }

    &__breadcrumb-arrow {
        height: vw(10);
    }
}


// 価格スペック ----------
.section-title--subpage {
    position: relative;
    padding-bottom: vw(4);
    font-size: vw(22);
    font-weight: 700;
    border-bottom: #ddd solid vw(3);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: vw(-3);
        width: vw(50);
        height: inherit;
        border-bottom: #168352 solid vw(3);
    }
}

/* ギャラリー ----------*/
.gallery {
    padding-top: vw(26);
    padding-bottom: vw(16);

    &__container {
        margin: 0 auto;
        width: vw(358);
    }

    &__carousel{
        margin-top: vw(24);
    }

    &__image {
        width: 100%;
        height: vw(237);
        border-radius: vw(24);
    }
}

.slick-slide img{
    object-fit: cover;
}

.slick-dots {
    bottom: vw(4);
    padding-right: vw(16);
}

.slick-dots li{
    margin: 0 vw(5);
    width: vw(4);
    height: vw(20);
}

.slick-dots li button {
    width: vw(20);
    height: vw(20);
    padding: vw(5);
}

.slick-dots li button:before {
    width: vw(20);
    height: vw(20);
    line-height: vw(20);
	font-size: vw(8) ;
	color: #eee ;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
	color: #168352;
}


/* 特長 ----------*/
.products-features{
    padding-top: vw(8);
    padding-bottom: vw(15);

    &__container {
        margin: 0 auto;
        width: vw(358);
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        row-gap: vw(34);
        margin-top: vw(24);
    }

    &__image {
        width: 100%;
    }

    &__text{
        margin-top: vw(7);
        padding-right: vw(1);
        font-size: vw(18);
        font-weight: 700;
        line-break: anywhere;
    }
}


/* 価格 ----------*/
.price{
    padding-top: vw(35);
    padding-bottom: vw(35);

    &__container{
        margin: 0 auto;
        width: vw(358);
    }

    &__price{
        margin-top: vw(8);
        font-size: vw(16);
        font-weight: 700;

        &--big{
            font-family: "Montserrat", sans-serif;
            font-size: vw(32);
            font-weight: 700;
        }
    }
}


/* スペック ----------*/
.spec{
    padding-top: vw(8);
    padding-bottom: vw(64);

    &__container{
        margin: 0 auto;
        width: vw(358);
    }

    &__wrapper{
        margin-top: vw(25);
    }

    &__heading{
        padding: vw(3) 0 vw(6) vw(16);
        font-size: vw(20);
        font-weight: 700;
        line-height: 1;
        border-left: #168352 solid vw(2);
    }

    &__table{
        margin-top: vw(18);
        width: 100%;
        border: #ddd solid vw(1);
        border-collapse: collapse;
    }

    &__table-unit{
        display: flex;
        flex-direction: column;
        line-height: 2.3;
    }

    &__table-header{
        padding-left: vw(19);
        height: vw(39);
        font-size: vw(16);
        font-weight: 700;
        text-align: unset;
        background-color: #f5f5f5;
        border-bottom: #ddd solid vw(1);
    }

    &__table-date{
        padding-left: vw(19);
        height: vw(39);
        font-size: vw(16);
        border-bottom: #ddd solid vw(1);

        &--noneborder{
            height: vw(38);
            border-bottom: none;
        }
    }
}


/* お問い合わせ ----------*/
.contact{
    height: vw(360);
    background-image: url("/assets/image/products_service/contact/contact_sp.jpg");
    background-size: cover;

    &__container{
        margin: 0 auto;
        padding-top: vw(140);
        width: vw(358);
    }

    &__button{
        padding-top: vw(18);
        width: vw(358);
        height: vw(80);
        text-align: center;
        font-size: vw(20);
        font-weight: 700;
        border: #fff solid vw(2);
        border-radius: vw(40);
    }
}


// よくある質問 ----------
.faq{
    padding-top: vw(36);

    &__container{
        margin: 0 auto;
        width: vw(358);
    }

    &__accordion-content{
        margin-bottom: vw(21);
        border: #ccc solid vw(1);
        border-radius: vw(16);

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__question{
        display: flex;
        justify-content: space-between;
        column-gap: vw(16);
        padding: vw(21) vw(23) vw(16);
        cursor: pointer;
    }

    &__question-icon{
        font-family:  "Montserrat", sans-serif;
        font-size: vw(24);
        font-weight: 700;
        line-height: 1;
        color: #168352;
    }

    &__question-inner{
        margin-top: vw(2);
    }

    &__question-inner-top{
        display: flex;
        column-gap: vw(8);
    }

    &__question-category{
        width: vw(100);
        height: vw(24);
        text-align: center;
        font-size: vw(11);
        color: #168352;
        border: #168352 solid vw(1);
        border-radius: vw(4);
    }

    &__question-text{
        font-size: vw(16);
        font-weight: 700;
    }

    &__question-switch{
        margin-top: vw(5);
        width: vw(19);
        height: vw(19);
    }

    &__answer{
        display: none;
        font-size: vw(16);
    }
}